body {
  background-color: yellow;
  height: 100%;
}

/* Layout #2 start */
#welcome-section {
  height: 100vh;
  overflow: auto;
}
/* Layout #2 end */

/* Layout #3 start */
#navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: lightgreen;
}
/* Layout #3 end */