body {
  background-color: yellow;
  height: 100%;
}

@media only screen and (max-width: 1000px)
{
  body {
    background-color: lightblue;
  }
}

#welcome-section {
  height: 100vh;
  overflow: auto;
}

#navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: lightgreen;
}